body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
ul {
  font-size: 30px;
}
li {
  font-size: 20px;
  margin-top: 10px;
}


/*id selectors*/
#main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#project-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#project-list-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

#todo-form {
  
}

#todo-div-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#todo-item-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
}

#create-project-btn {

}

#submit-button {
  
}

/* Class selectors */
.project-buttons {
  height: 40px;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.due-date-and-remove-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.todo-item-content {
  font-size: 20px;
}